@model IEnumerable<StudentManagementSystem.Models.StudentFeedback>

@{
    ViewBag.Title = "ShowFeedback";
}

<h2>ShowFeedback</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Feedback)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>

        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Feedback)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>


       
    </tr>
}

</table>
